@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body{
  background-color:#121212 ;
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>

li ,a, .but{ 
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
}

.navl{
  list-style: none;
}

.navl li {
  display: inline-block;
  padding: 0px 20px;
}

.navl li a {
  transition: all 0.3s ease 0s ;
}

.nav li a : hover {
  color: #0088a9 ;
}*/

.but{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.but:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

div.netw{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px ;
}

.superlinks{
  align-items: center;
  margin-left: 110px;
}
.covid{
  display: flex;
  height: 90px;
  width: 90%;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #3b3b3b;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.but_text{
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  width: 700px;

}

.but_icon{
  padding-top: 25px;
  padding-left: 700px;
  height: 50%;
  width: 50%;

}

.but_text,
.button_icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}



